@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    color: white;
    font-size: 16px;
    background: black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 000%, rgb(74, 39, 0) 300%);
    width: 100%;
}

.container {
    width: 1400px;
    margin: 0px auto;
}

header {
    padding: 50px 0;
    z-index: 2;
    position: relative;
}

header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li a {
    color: white;
}

header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #dc7000;
}

header nav ul li.btn a, .email .block button {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover {
    background-color: #be6a10;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #dc7000;
    border-radius: 10px;
    position: relative;
    top: 0px;
    left: -10px;
}

.hero {
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}

.hero--info {
    width: 530px;
    padding-top: 70px;
}

.hero--info h2 {
    color: #e87d0e;
    font-weight: 600;
    font-size: 20px;
}

.hero--info h1 {
    font-weight: 600;
    font-size: 50px;
}

.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn, .hero--about .info .btn  {
    background-color: #fa8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}

.hero--info .btn:hover, .hero--about .info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hero img {
    position: absolute;
    top: -150px;
    right: 0px;
    z-index: 1;
}

/* Игры */
.trending {
    padding-top: 100px;
}

.trending h3 {
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all,
.projects .see-all {
    color: white;
    background: #25211d;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover,
.projects .see-all:hover {
    transform: scale(1.1);
}

.trending .block img {
    border-radius: 20px;

}

.trending .block span img {
    position: relative;
    top: 5px;
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0px;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.big-text {
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner {
    padding: 80px;
}

.banner h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p {
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img {
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
}

/*Секция с изображениями*/
.features {
    background: url('/img/fon.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0px;
}

.features h3,
.features p {
    padding-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin: 0px auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 15px;
}

.projects {
    padding: 100px 0px;
}

.projects h3 {
    font-size: 30px;
    text-align: center;
}

.projects p {
    margin: 40px 0px;
    text-align: center;
}

.projects .images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.projects .see-all {
    width: 60px;
    float: none;
    margin: 0px auto;
    text-align: center;
}

/*email*/
.email {
    padding-bottom: 120px;
}

.email h3 {
    margin-top: 60px;
    font-size: 30px;
}

.email p {
    width: 545px;
}

.email .block {
    background: #1c140f;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4 {
    font-size: 30px;
    font-weight: 500;
}

.email .block input {
    background-color: white;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    padding: 20px 40px;
    position: relative;
    right: -110px;
    z-index: 1;
    padding-right: 150px;
}
.email .block button {
    cursor: pointer;
    border: 0;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
    color: white;
}

/*footer*/
footer{
    background: black;
    padding: 50px 0px;
}

footer .logo {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
}

footer .blocks h2 {
    font-size: 17px;
    font-weight: 600;
}

footer .blocks{
    display: flex;
    justify-content: space-between;
}

footer .blocks p {
    width: 300px;
    margin: 15px 0px;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul{
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.9;
}

footer hr {
    margin: 30px 0px;
    border: 0;
    height: 0.6px;
    background: #ccc;
}

footer > p{
    text-align: center;
}

/*Страница о нас */
.hero--about {
    position: relative;
}
.hero--about img{
    position: absolute;
    right: -125px;
    top: 0;
}
.hero--about .info{
    width: 500px;
    padding: 250px 0px;
}
.hero--about .info h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.hero--about .info .btn{
 margin-top: 20px;
}
.hero--about .info .btn img{
    margin-left: 15px;
}

.work{
    padding: 80px 0px;
}

.work h2{
    font-size: 25px;
    margin-bottom: 40px;
}

.work .blocks{
    display: flex;
    justify-content: space-between;
}
.work .blocks .block{
    width: 25%;
    border-radius: 10px;
    padding: 50px 35px;
    background: #1c140f;
}

.work .blocks .block h3{
    font-size: 20px;
    margin: 20px 0px;
}
.work .blocks .block .badge{
    border-radius: 7px;
    padding: 10px 20px;
}
.work .blocks .block .badge.purple{
    background: rgba(176, 0, 220, 0.11)
}
.work .blocks .block .badge.brown{
    background: rgba(220, 66, 0, 0.11)
}
.work .blocks .block .badge.green{
    background: rgba(0, 220, 141, 0.11)
}

/*contacts*/
.hero--contacts h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 32px;
}

.hero--contacts p{
    text-align: center;
}
.hero--contacts img{
    width: 70%;
    margin: 80px 15%
}

.feedback{
    padding: 70px 0px;
    background: #1C140F;
}

.feedback h2{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.feedback p {
    text-align: center;
    margin-top: 10px;
}

.feedback form{
    margin: 80px auto;
    width: 600px;
    box-sizing: border-box;
}

.feedback form .inline{
    display: flex;
    justify-content: space-between;
    
}
.feedback form .inline>div {
    width: 290px;
}

.feedback form label{
    color: #4F4F4F;
    font-size: 14px;
}

.feedback form input, .feedback form textarea{
    background-color: #4F4F4F;
    border: 0.6px solid #CECECE;
    border-radius: 10px;
    display: block;
    width: 100%;
    padding: 15px 10px;
    outline: none;
    color: white;
    margin-top: 7px;
    margin-bottom: 10px;
    box-sizing: border-box;

}
.feedback form .one-line{
    width: 100%;
}

.feedback form textarea{
    resize: none;
    height: 200px;
}
.feedback form button{
    background: #dc7000;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    color: white;
    padding: 15px 35px;
    transition: all 500ms ease;
}

.feedback form button:hover{
    background-color: rgb(233, 73, 73);
}